{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<main class="bg-slate-500 min-h-[100vh]">
    <div class="container mx-auto py-10">
        <h1 class="text-5xl font-bold">Hello {{ controller_name }}! ✅</h1>
    
    </div>
</main>
{% endblock %}
